@import "../Theme/theme";

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 100%;
    max-width: $page-width;

    color: $on-secondary;
    font-family: $core-font;

    a {
      color: inherit;
    }
  }
}
  